<div class="mt-5">
  <%= form_with(
      model: tweet,
      data: { controller: 'reset-form', action: 'turbo:submit-end->reset-form#reset' }
    ) do |form| %>

    <div class="flex flex-row">
      <%= render 'users/avatar', user: current_user, size: 'md' %>

      <div class="flex flex-col w-full">
        <!-- Note: focus:ring-0 is needed to remove input field border on focus (added by tailwind by default?)-->
        <%= form.text_area :content,
          placeholder: tweet.parent ? "Tweet your reply" : "What's happening?",
          class: 'bg-black border-none text-xl ml-3 focus:ring-0',
          rows: 2,
          data: { controller: 'validate-form', action: 'validate-form#onInput' } %>

        <%= form.hidden_field :parent_id, value: tweet.parent_id %>

        <div class="my-2">
          <div class="flex justify-end">
            <%= form.submit "Tweet",
              class: 'bg-sky-500 disabled:opacity-50 cursor-pointer disabled:cursor-default px-4 py-1 rounded-full font-semibold justify-self-end',
              disabled: true %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
