<%
  action = liked ? unlike_tweet_path(tweet) : like_tweet_path(tweet)
  icon = liked ? 'fa-heart' : 'fa-heart-o'
  text_color = liked ? 'text-red-500' : nil
  title = liked ? 'Unlike' : 'Like'
%>

<div id="<%= dom_id(tweet, 'likes') %>">
  <%= button_to action, title: title do %>
    <div class="group <%= text_color %>">
      <span class="rounded-full p-1 mr-1 group-hover:bg-red-500/10">
        <%= content_tag :i, nil, class: "fa #{icon}" %>
      </span>
      <%= tweet.likes.size > 0 ? tweet.likes.size : nil %>
    </div>
  <% end %>
</div>
