<div class="flex flex-col p-1 lg:p-4 border-r border-gray-700">
  <div class="flex flex-1 flex-col">

    <%= link_to root_path do %>
      <i class="fa fa-twitter fa-2x"></i>
    <% end %>

    <%= link_to root_path, class: "mt-5" do %>
      <div>
        <i class="fa fa-home fa-2x"></i>
        <span class="font-bold text-xl pl-3 hidden lg:inline-block">Home</span>
      </div>
    <% end %>

  </div>

  <div class="flex-none py-3">
    <div
      class="relative"
      data-controller="dropdown"
    >
      <div
        class="flex items-center cursor-pointer hover:bg-sky-500/10 hover:rounded-full p-2"
        data-action="click->dropdown#toggle click@window->dropdown#hide"
        data-dropdown-target="button"
      >

        <div class="w-10 h-10">
          <%= image_tag current_user.avatar_name, class: 'rounded-full object-cover w-full h-full' %>
        </div>

        <div class="ml-3 hidden lg:block">
          <div class="font-semibold whitespace-nowrap"><%= current_user.name %></div>
          <div class="text-gray-500">@<%= current_user.uid %></div>
        </div>
        <div class="pl-4 font-bold hidden lg:block">
          ...
        </div>
      </div>
      <div
        data-dropdown-target="menu"
        class="absolute hidden inset-x-auto bottom-full bg-black text-gray-400"
      >
        <div class="rounded shadow shadow-gray-500 p-5">
          <%=
            link_to 'Log out',
              destroy_user_session_path,
              data: {
                turbo_method: :delete,
                turbo_confirm: 'Log out?'
              }
          %>
        </div>
      </div>
    </div>
  </div>
</div>
