<!DOCTYPE html>
<html>
  <head>
    <title>Sweater</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto py-5">
      <div class="my-5">
        <p class="text-green-500"><%= notice %></p>
        <p class="text-red-500"><%= alert %></p>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
